<div>
  <wizard-main [showDemo]="true" [showDuration]="1000" height="200px">
    <wizard-step>
      <div>content 1</div>
      <form class="form-group">
        <input class="form-control" type="text" name="test-input">
        <label for="test-input">Test input</label>
      </form>
    </wizard-step>
    <wizard-step>
      <div>content 2</div>
    </wizard-step>
    <wizard-step>
      <div>content 3</div>
    </wizard-step>
    <wizard-step>
      <div>content 4</div>
    </wizard-step>
    <wizard-step>
      <div>
        <h1>
          some title
        </h1>
        <p>Some text</p>
      </div>
    </wizard-step>
  </wizard-main>
</div>